<?xml version="1.0" encoding="UTF-8"?>
<config>
    <propel>
        <datasources default="starterkit">
            <datasource id="starterkit">
                <adapter>mysql</adapter>
                <connection>
                    <dsn>mysql:host=127.0.0.1;dbname=starterkit</dsn>
                    <user>root</user>
                    <password></password>
                    <settings>
                        <setting id="charset">utf8</setting>
                    </settings>
                </connection>
            </datasource>
        </datasources>
    </propel>
</config>