<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block main_content %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>