<!DOCTYPE html>
<html lang="tr">
<head>
    {% include "site/embed/meta.twig" %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block main_content %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>