{% extends 'admin/layout/empty.twig' %}

{% block title %}Erişim izniniz yok{% endblock %}

{% block main_content %}
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <p>Erişmeye çalıştığınız alana erişim izniniz bulunmamakta. Bunun böyle olmaması gerektiğini düşünüyorsanız lütfen yöneticilerle iletişim kurunuz. <a href="{{ site_url('/admin') }}">Yönetim paneli anasayfasına dönmek için tıklayınız.</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}