{% extends "admin/layout/default.twig" %}

{% block title %}Yönetim Paneli{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="page-header">
                    <h1>Yönetim Paneli</h1>
                </header>
            </div>
        </div>
    </div>
{% endblock %}