<?php

$configs = include 'global.php';

date_default_timezone_set('Europe/Istanbul');

/**
 * recaptcha
 */
$configs['recaptcha']['public_key'] = '';
$configs['recaptcha']['private_key'] = '';

$configs['twig']['options']['cache'] = false;

return $configs;
